{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaching App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/basketball-icon.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="{% static 'js/components.js' %}"></script>
</head>
<body>
    <header>
        <!-- Kopfzeile mit Authentifizierung -->
        {% if not hide_navbar %}
        <nav class="navbar bg-dark container-fluid p-2 align-items-center">
            
            <!-- Logo und Link zur Hauptseite -->
            {% if user.is_authenticated %}
            <a class="navbar-brand text-light" href="{% url 'mainpage' %}">Coaching App</a>
            
            <!-- User Information und Logout -->
            <form class="d-flex align-items-center m-0" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <span class="navbar-text text-light">{{ user.username }}</span>
                {% if user.is_staff %}
                <a class="navbar-toggler text-light text-decoration-none" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                <button type="submit" class="navbar-toggler text-light">Logout</button>
            </form>
            
            {% else %}
            <a class="navbar-brand text-light" href="{% url 'login' %}">Coaching App</a>

            {% endif %}
        </nav>
        {% endif %}
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
        
        <!-- Navigation Button -->
        {% if user.is_authenticated and not hide_navbar %}
        <a class="btn btn-light custom-nav-btn position-fixed bottom-0 end-0 m-4 rounded-circle shadow p-0" href="{% url 'navigation_popup' %}">
            <img class="p-0 m-0" src="{% static 'images/basketball-icon.png' %}" alt="Menu" width="60" height="60">
        </a>
        {% endif %}
    </main>

    <!-- Copyright Section -->
    <footer class="text-center p-3 mt-5">
        <p>&copy; 2026 Coaching App. All rights reserved. V1.0.2</p>
    </footer>
    
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>