{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<!-- TODO schöner gestalten und UI verbessern -->
    <div class="container-md ps-5 pe-5">
        <div class="row">
            <div class="col text-center m-2 p-2 pb-0">
                <h2 class="text-uppercase fw-bold">Neuer Drill</h2>
            </div>
        </div>
    </div>
    <form action="{% url 'drills' %}" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name des Drills">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <textarea id="description" name="description" class="form-control" rows="5" placeholder="Beschreibung des Drills"></textarea>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <select id="skill" name="skills" class="form-select" multiple>
                    {% for skill in skills %}
                        <option value="{{ skill.id }}" data-color="{{ skill_colors|get_item:skill.level2 }}">
                            {{ skill.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <label for="intensity" class="form-label">Intensität</label>
                <input type="range" class="form-range" min="1" max="5" id="intensity" name="intensity">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <label for="difficulty" class="form-label">Schwierigkeitsgrad</label>
                <input type="range" class="form-range" min="1" max="5" id="difficulty" name="difficulty">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <button type="submit" class="btn btn-primary">Drill erstellen</button>
            </div>
            <div class="col-1"></div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <!-- TODO Scripts auslagern -->
    <script>
        $(document).ready(function() {
            $('#skill').select2({
                placeholder: "Wähle Skills",
                allowClear: true,
                templateResult: function(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    var color = $(state.element).data('color');
                    return $('<span style="color:' + color + ';">' + state.text + '</span>');
                },
                templateSelection: function(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    var color = $(state.element).data('color');
                    return $('<span style="color:' + color + ';">' + state.text + '</span>');
                }
            });
        });
    </script>
{% endblock %}