{% extends "base.html" %}

{% block content %}
    <!-- Ebene 0 -->

    <!-- Über dem Strich -->
    <div class="container-md ps-5 pe-5">
        
        <!-- Überschrift -->
        <div class="row">
            <div class="col text-center m-2 p-2 pb-0">
                <h2 class="text-uppercase fw-bold">Drills</h2>
            </div>
        </div>

        <!-- Button zum Erstellen eines neuen Drills -->
        <div class="row pb-4 border-bottom border-dark border-1">
            <div class="col-1 col-md-3"></div>
            <div class="col-10 col-md-6 d-flex justify-content-center">
                <a 
                    class="btn btn-dark custom-nav-btn flex-grow-1" 
                    href="{% url 'edit_drill' %}"
                >&#xff0b; Neuer Drill</a>
            </div>
            <div class="col-1 col-md-3"></div>
        </div>

        <!-- Unter dem Strich -->
        
        <!-- Filter- und Suchleiste -->
        <div class="row">
            <div class="col mt-2">
                <form class="d-flex align-items-center" method="GET" action="{% url 'drills' %}">
                    <!-- Nach Namen suchen -->
                    <input type="text" name="search" placeholder="Suche..." class="form-control border border-2 border-dark me-2">
                    
                    <!-- nach Hauptskill Filtern-->
                    <select name="skill" class="form-select border border-2 border-dark me-2">
                        <option value="">All</option>
                        {% for skill in skills %}
                            <option value="{{ skill }}">{{ skill }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-dark custom-nav-btn border border-2 border-dark">Suchen</button>
                </form>
            </div>
        </div>

        <!-- Drill-Liste -->
        <div class="row">
            <div class="col p-0">
                {% for drill in drills %}
                    <div class="row border border-dark rounded mt-2 p-2" style="background-color: {{ drill.stats.color|default:'#ffffff' }};">
                        <!-- Text -->
                        <div 
                            class="col p-0 text-truncate d-flex align-items-center fw-bold" 
                            data-name ="{{ drill.name }}"
                            data-description="{{ drill.description }}"
                            onclick="openPopUp(this)">{{ drill.name }}</div>

                        <!-- Statistiken und Buttons -->
                        <div class="col d-flex justify-content-end">

                            <!-- Statistiken (Durch JS befüllt) -->
                            <canvas data-drill-id="{{ drill.id }}" data-type="skillDist" class="chart-canvas me-1" width="40" height="40"></canvas>
                            <canvas data-drill-id="{{ drill.id }}" data-type="intensity" class="chart-canvas " width="40" height="40"></canvas>
                            <canvas data-drill-id="{{ drill.id }}" data-type="difficulty" class="chart-canvas " width="40" height="40"></canvas>

                            <!-- Buttons -->
                            <form class="d-flex flex-row align-items-stretch m-0" action="{% url 'edit_drill' %}" method="post">
                                {% csrf_token %}
                                <button 
                                    class="btn btn-sm flex-fill mx-1" 
                                    type="submit" 
                                    name="update" 
                                    value="{{ drill.id }}" 
                                    style="background-color: white; border-width:2px; border-color:black;">
                                    &#9998;
                                </button>
                                <button 
                                    class="btn btn-sm flex-fill ms-1" 
                                    type="submit" 
                                    name="delete" 
                                    value="{{ drill.id }}" 
                                    style="background-color: white; border-width:2px; border-color:red;"
                                    disabled>
                                    &#10006;
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Seiten-Navigation -->
            <!-- TODO: Schöner gestalten -->
            <div class="pagination row mt-2">
                <!-- Zurück -->
                <div class="col align-items-center d-flex justify-content-center">
                    {% if drills.has_previous %}
                        <a class="btn btn-sm" href="?page={{ drills.previous_page_number }}">« Zurück</a>
                    {% endif %}
                </div>

                <!-- Seitenzahlen -->
                <div class="col text-center">
                    {% if drills.has_other_pages %}
                    <span class="col">Seite {{ drills.number }} von {{ drills.paginator.num_pages }}</span>
                {% endif %}
                </div>

                <!-- Weiter -->
                <div class="col align-items-center d-flex justify-content-center">
                    {% if drills.has_next %}
                        <a class="btn btn-sm" href="?page={{ drills.next_page_number }}">Weiter »</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Ebene 1 -->
    <div class="pop-up-background" id="PopUpBg"></div>
    <div class="pop-up-content" id="PopUpContent"></div>

{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // JSON-Daten holen
            const drillData = JSON.parse('{{ stats|escapejs }}');
            
            // Canvases für die Statistiken befüllen
            const canvases = document.querySelectorAll('canvas.chart-canvas');
            canvases.forEach((canvas) => {
                const drillId = canvas.getAttribute('data-drill-id');
                const skillData = drillData[drillId];

                // Doughnut, wenn Skill Distribution
                if (canvas.getAttribute('data-type') === 'skillDist') {
                    createSkillDistribution(canvas, skillData);
                } else { // sonst Bar Chart
                    createBar(canvas, skillData);
                }
            });
        });
    </script>
{% endblock %}