{% extends "base.html" %}

{% block content %}
    <div class="container-md ps-5 pe-5">
        <div class="row">
            <div class="col text-center m-2 p-2 pb-0">
                <h2 class="text-uppercase fw-bold">Drills</h2>
            </div>
        </div>
        <div class="row pb-4 border-bottom border-dark border-1">
            <div class="col-1 col-md-3"></div>
            <div class="col-10 col-md-6 d-flex justify-content-center">
                <a class="button btn btn-light custom-nav-btn flex-grow-1" href="{% url 'create_drill' %}">&#xff0b; Neuer Drill</a>
            </div>
            <div class="col-1 col-md-3"></div>
        </div>
    </div>
{% endblock %}