# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
*.log
db.sqlite3
.env
.env.*

# Virtuelle Umgebung
venv/
ENV/
env/

# Migrations (optional, wenn du sie nicht versionieren willst)
*/migrations/
!*/migrations/__init__.py

# VS Code, PyCharm, etc.
.vscode/
.idea/