{% extends "base.html" %}

{% block content %}
<!-- TODO schöner gestalten und UI verbessern -->
    <div class="container-md ps-5 pe-5">
        <div class="row">
            <div class="col text-center m-2 p-2 pb-0">
                <h2 class="text-uppercase fw-bold">Training planen</h2>
            </div>
        </div>
    </div>

    <form action="{% url 'training_overview' %}" method="post">
        {% csrf_token %}
        
        <!-- Datum auswählen -->
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <label for="date" class="form-label">Datum wählen</label>
                <input
                    type="date"
                    class="form-control"
                    id="date"
                    name="date"
                    value="{% if training %}{{ training.date|date:'Y-m-d' }}{% else %}{{ today|date:'Y-m-d' }}{% endif %}"
                >
            </div>
            <div class="col-1"></div>
        </div>

        <!-- Drills auswählen -->
         <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-5 d-flex">
                <button 
                    type="button"   
                    class="btn btn-dark custom-nav-btn flex-grow-1"
                    onclick="openPopUp(this, 'list')">Drills auswählen</button>
            </div>
            <div class="col-5 d-flex">
                <button 
                    type="button"
                    class="btn btn-dark custom-nav-btn flex-grow-1"
                    onclick="addCustomSlot()">&#43; Custom Slot</button>
            </div>
            <div class="col-1"></div>
        </div>
        
        <!-- Drag and Drop Area für Planung -->
        <!-- HIER WEITERMACHEN -->
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10" id="sortable"></div>
            <div class="col-1"></div>
        </div>

        <!-- Submit Training -->
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10">
                <button 
                    type="submit" 
                    class="btn btn-primary" 
                    name="action" 
                    value="{% if training %}update{% else %}create{% endif %}"
                >{% if training %}Training aktualisieren{% else %}Training erstellen{% endif %}</button>
            </div>
            <div class="col-1"></div>
        </div>
    </form>

    <!-- Ebene 1 -->
    <div class="pop-up-background" id="PopUpBg"></div>
    <div class="pop-up-content" id="PopUpList"></div>

{% endblock %}

{% block scripts %}
<script>
    // Sortable Component erstellen
    const sortable = new Sortable(document.getElementById('sortable'), {
        animation: 150,
        onEnd: function () {
        const order = [...document.querySelectorAll('#sortable li')]
            .map(li => li.dataset.id); // neue Reihenfolge
        }
    });

    function addCustomSlot() {
        
        const sortableContainer = document.getElementById('sortable');
        const customSlots = sortableContainer.querySelectorAll('training-item[data-id^="custom-"]');
        customID = customSlots.length + 1;

        // Neuen Listeneintrag erstellen
        const item = document.createElement('training-item');
        item.setAttribute('data-id', 'custom-' + customID);
        item.setAttribute('data-name', 'Custom Slot ' + customID);
        
        // Zum Sortable Container hinzufügen
        sortableContainer.appendChild(item);
    }

    // Event Listener für Pop-up schließen
    document.addEventListener("popupClosed", function(event) {
        console.log("Pop-up wurde geschlossen um: " + new Date(event.detail.closedAt).toLocaleTimeString());
        
        // Ausgewählte Drills in Sortable hinzufügen
        const drillList = document.getElementById('drill-list');
        if (drillList) {
            const selectedDrills = drillList.querySelectorAll('[selected="true"]');
            const sortableContainer = document.getElementById('sortable');
            const currentItems = sortableContainer.querySelectorAll('training-item[data-id]'); // Anpassen, wenn nicht mehr li item

            selectedDrills.forEach(drill => {
                const drillId = drill.getAttribute('data-drill-id');
                const drillName = drill.getAttribute('data-name');
                
                // Überspringen, wenn bereits hinzugefügt
                const alreadyAdded = sortableContainer.querySelector(`training-item[data-id="${drillId}"]`);
                if (alreadyAdded) {
                    return;
                }

                // Neuen Listeneintrag erstellen
                const item = document.createElement('training-item');
                item.setAttribute('data-id', drillId);
                item.setAttribute('data-name', drillName);

                // Zum Sortable Container hinzufügen
                sortableContainer.appendChild(item);
            });
            
            // Entfernen nicht mehr ausgewählter Drills
            currentItems.forEach(item => {
                const itemId = item.getAttribute('data-id');
                const stillSelected = Array.from(selectedDrills).some(drill => drill.getAttribute('data-drill-id') === itemId);
                
                if (!stillSelected && !itemId.startsWith('custom-')) {
                    sortableContainer.removeChild(item);
                }
            });
        }
    });

    document.addEventListener('deleteButtonPressed', function(event) {
        const drillId = event.detail.drillId;
        const sortableContainer = document.getElementById('sortable');
        const itemToDelete = sortableContainer.querySelector(`training-item[data-id="${drillId}"]`);
        
        if (itemToDelete) {
            sortableContainer.removeChild(itemToDelete);

            const drillList = document.getElementById('drill-list');
            if (drillList) {
                const drillInList = drillList.querySelector(`div[data-drill-id="${drillId}"]`);
                if (drillInList) {
                    drillInList.removeAttribute('selected');
                }
            }
        }
    });

</script>
{% endblock %}